.checkout {
  margin: 0 30px;
}

.checkout-items {
  border: 1px solid rgb(178, 187, 184);
  box-shadow: 1px 1px 1px grey;
  padding: 5px;
  padding-bottom: 42px;
}

table {
  text-align: center;
  width: 100%;
}

.item {
  width: 5%;
}

.descricao {
  width: 30%;
}

.quantidade {
  width: 5%;
}

.valor-unitario {
  width: 10%;
}

.sub-total {
  width: 10%;
}

.remove {
  width: 10%;
}

.detail-item {
  background-color: rgba(47, 193, 140, 1);
  border-radius: 5px 0 0 5px;
  color: black;
}

.detail-name {
  background-color: rgb(227, 243, 239);
  color: black;
  padding-left: 10px;
  text-align: start;
}

.detail-quantity {
  background-color: rgba(3, 107, 82, 1);
  color: white;
}

.detail-valor {
  background-color: rgba(66, 25, 129, 1);
  color: white;
}

.detail-sub-total {
  background-color: rgba(5, 108, 249, 1);
  color: white;
}

.detail-remove {
  background-color: rgba(47, 193, 140, 1);
  border-radius: 0 5px 5px 0;
}

td button {
  background-color: rgba(47, 193, 140, 1);
  border: 0;
  color: white;
  font-size: medium;
  width: 100%;
}

.total-price {
  background-color: rgba(3, 107, 82, 1);
  border-radius: 5px;
  color: white;
  display: flex;
  float: right;
  font-size: x-large;
  justify-content: space-evenly;
  margin-top: 8px;
  width: 190px;
}

.checkout-info {
  border: 1px solid rgb(178, 187, 184);
  box-shadow: 1px 1px 1px grey;
  padding: 5px;
}

.checkout-info-up {
  display: flex;
  justify-content: space-around;
}

.checkout-info-up label {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.word-label {
  font-size: small;
  padding-left: 10px;
  text-align: start;
}

.checkout-info-up select {
  background-color: white;
  border: 1px solid rgb(178, 187, 184);
  font-size: medium;
  height: 33px;
  text-align: center;
}

.checkout-info-up input {
  border: 1px solid rgb(178, 187, 184);
  font-size: medium;
  height: 30px;
  text-align: center;
}

.label-seller {
  flex-grow: 1;
  width: 150px;
}

.label-address {
  flex-grow: 4;
}

.label-number {
  flex-grow: 1;
  width: 80px;
}

.checkout-info-down {
  display: flex;
  justify-content: center;
}

.checkout-info button {
  background-color: rgba(3, 107, 82, 1);
  border: 0;
  border-radius: 5px;
  color: white;
  height: 40px;
  width: 180px;
}
