.products__page {
  position: relative;
 }

.products__list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.products__cart__button {
  bottom: 25px;
  position: fixed;
  right: 25px;
  background-color: rgba(37, 146, 64, 0.8);
  color: rgba(136, 18, 83);;
  font-weight: bold;
}
