.details-order-seller-container {
  margin: 20px auto;
  max-width: 85vw;
}

.details-order-container {
  border: 2px solid rgba(128, 128, 128, 0.473);
  display: flex;
  flex-direction: column;
  min-height: 500px;
}

.details-order-container section {
  background-color: #eaf1ef;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 5px;
}

.render-info-pedidos {
  align-self: center;
  font-weight: 900;
}

.status-details {
  background-color: #87d53c;
  border-radius: 5px;
  padding: 2px 10px;
}

.details-order-container section button {
  background-color: #44c18c;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 900;
  margin-right: 5px;
  padding: 5px 20px;
}

.details-order-container section button:nth-child( 2 ) {
  background-color: #236b51;

}

.Pendente {
  background-color: #d4c63c;
}

.Entregue {
  background-color: #4fd5b0;
}

.details-order-container h3 {
  margin-left: auto;
}

.details-order-container span {
  margin-right: 1rem;
}

.details-order-container ul {
  flex-grow: 1;
  padding: 10px;
}

.list-item-header {
  display: flex;
  padding: 10px 10px 0;
}

.list-item-header span {
  text-align: center;
}

.list-item-header span:nth-child( 5 ) {
  width: 6rem;
}

.list-item-header span:nth-child( 4 ) {
  width: 6rem;
}

.list-item-header span:nth-child( 3 ) {
  width: 6rem;
}

.list-item-header span:nth-child( 2 ) {
  flex-grow: 1;
}


.details-order-container li {
  list-style-type: none;
}

.details-order-container p {
  align-self: flex-end;
  background-color: #236b51;
  border-radius: 5px;
  color: white;
  font-size: 1.3rem;
  font-weight: 900;
  margin: 1rem;
  min-width: 12rem;
  padding: 10px;
  text-align: center;
}
