.seller-card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 30vh;
  margin: 3%;
  width: 90%;
}

.seller-card-parte-de-cima {
  display: flex;
  flex-direction: row;
}

.seller-card-parte-de-baixo {
  display: flex;
  flex-direction: row;
}

.seller-itens {
  margin-left: 3%;
  position: relative;
}

.seller-page-status {
  background-color: brown;
  height: 20vw;
  margin-left: 3%;
  width: 30vw;
}

.seller-data-e-preço {
  background-color: blue;
  display: flex;
  flex-direction: column;
  height: 20vh;
  margin-left: 3%;
}


.seller-endereço {
  align-self: flex-end;
  background-color: rgb(255, 0, 85);
  display: flex;
  flex-direction: column;
  height: 10vh;
  margin-left: 3%;
  width: 100vw;
}
