.login-form {
  background-color: rgb(192, 186, 174);
  height: 70%;
  width: 30%;
}

.fields {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: auto;
  width: 60%;
}

.fields label {
  width: 100%;
}

.fields input {
  background-color: rgba(255, 255, 255, 0.829);
  border: solid 1px rgb(156, 138, 138);
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 0.5rem;
  width: 100%;
}

input:focus {
  border: solid 1px rgb(73, 72, 72);
  box-shadow: 0 0 0 0;
  outline: 0;
  transition: ease 0.3s;
}

.fields button {
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 0.5rem;
  width: 100%;
}

.login {
  background-color: rgb(13, 59, 28);
  border: none;
  color: wheat;
}

.register {
  background-color: rgba(231, 219, 195, 0.863);
  border: solid 1px rgb(6, 59, 23);
  color: rgb(13, 59, 28);
}

.register:hover {
  background-color: rgba(255, 254, 251, 0.863);
  transition: ease 0.2s;
}

.login:hover {
  background-color: rgb(8, 85, 34);
  transition: ease 0.2s;
}

.fields label {
  color: black;
}
