.register-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px auto;
}

.register-container form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 25rem;
}

.register-container label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.register-container input {
  width: 100%;
}

.register-container button {
  background-color: #28ad6b;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;
  font-weight: 900;
  margin: 0.2rem;
  padding: 5px 10px;
}
