.main-checkout-item {
  align-items: center;
  align-self: center;
  background-color: #a9b2c8;
  border-color: none;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 700;
  justify-content: space-around;
  margin-bottom: 8%;
  width: 90vw;
}

.checkout-item-button {
  align-items: center;
  display: flex;
  margin-right: 4%;
  width: 19vw;
}


.checkout-item-button-tex {
  align-self: center;
  display: flex;
}


.checkout-id {
  color: rgb(224, 204, 16);
}

.checkout-individual-price {
  color: white;
}

.checkout-quantity {
  color: rgb(25, 249, 0);
  font-weight: 900;
}

.checkout-total-price {
  color: rgb(25, 249, 0);
  font-size: 25px;
  font-weight: 900;
}

.checkout-name {
  color: black;
  width: 10vw;
}
