h1 {
  font-size: 2rem;
  margin: 3rem 10% 1rem;
}

.infoOrderDetails {
  background-color: #eaf1ef;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  justify-content: space-between;

  .span {
    font-weight: bold;
    margin-left: 3rem;
  }

  .date, .status, .markAsDelivered, .orderStatus  {
    border-radius: 5px;
    font-weight: bold;
    padding: 0.8rem;
    text-align: center;
  }

  .date {
    background-color: #f1fbf9;
    width: auto;
  }

  .status, .orderStatus, .markAsDelivered {
    width:auto;
    border: hidden;
    font-size: 2.2rem;
    margin-bottom: 4rem;
  }

  .status {
    background-color: #4dd5b1;
  }

  .orderStatus {
    background-color: #4bc18d;
    color: #fff;
  }

  .markAsDelivered {
    background-color: #256b52;
    color: #fff;
    font-weight: normal;
  }
}
