.inputContainer {
  display: flex;
  border: 1px solid black;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  font-size: 1.8rem;

  .inputStyle {
    display: flex;
    flex-direction: column;

    input, select {
      height: 4rem;
      border-radius: 5px;
    }
  }
}
