.buttons {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.login-Page {
  border: 3px solid black;
  border-radius: 2%;
  box-shadow: 10px 10px;
  display: flex;
  flex-direction: column;
  left: 30%;
  position: absolute;
  top: 30%;
  width: 40%;
}

.email-input {
  align-self: center;
  display: flex;
  margin-top: 3%;
  width: 80%;
}

.password-input {
  align-self: center;
  display: flex;
  margin-top: 3%;
  width: 80%;
}

.signin-button {
  align-self: center;
  display: flex;
  margin: 3%;
  width: 10%;
}

.signup-button {
  align-self: center;
  display: flex;
  margin: 3%;
  width: 30%;
}
