.cart-button-text {
  align-self: center;
  display: flex;
}

.cart-button-total-price {
  background-color: #E0C787;
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  margin-left: 7%;
  width: 80vw;
}
