.CheckoutCard-wrapper-table {
  align-items: center;
  background-color: lightgrey;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19) , 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  width: 1000px;
}

.CheckoutCard-table {
  width: 900px;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.25rem;
  text-align: left;
}

tbody tr:nth-child( odd ) {
  background: #eee;
}
