.card {
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-around;
  margin: 15px;
  transition: 0.3s;
  width: 200px;
}

.card p {
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card_body {
  padding: 2px 6px;
}

.card_foot {
  display: flex;
  padding-bottom: 5px;
}

.card_foot input {
  border: none;
  border-radius: 5px;
  margin: 0 1px;
  text-align: center;
  width: 30px;
}

.card_foot button {
  background-color: lightseagreen;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 20px;
  width: 30px;
}

.card_price {
  background-color: pink;
  border-radius: 5px;
  left: 75px;
  position: relative;
  text-align: center;
  top: 0;
  width: 40px;
}

button:active {
  transform: scale(0.95);
}

img {
  height: 100px;
  width: 100px;
}

h6 {
  margin: 5px;
}
