.order-list-container {
  display: flex;
}

.order-list-container section {
  margin-left: 100px;
  display: flex;
}

.order-container {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem ;
  width: 60rem;
}
