a {
  color: black;
  text-decoration: none;
}

.card-order {
  border: 0.5px solid rgba(0, 0, 0, 0.199);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  max-width: 30rem;
  padding: 10px;
}

.card-order div section {
  display: flex;
}

.status-container {
  padding: 20px 40px;
}

.date-and-value {
  display: flex;
  flex-direction: column;
}

.card-order-address {
  display: flex;
}
