.App {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.App > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.navbar {
  background-color: #0fa36b;
  display: flex;
  justify-content: space-between;
}

.nav-display-flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.navbar-link {
  border: 0px;
  border-radius: 0px;
  height: 50px;
  margin: 0px;
  padding: 0px 20px;
  text-decoration: none;
}

.navbar-link-none {
  text-decoration: none;
}

.navbar-link-green {
  background-color: #3AA856;
  color: #ffffff;
}

.navbar-link-green:hover {
  background-color: #57bf71;
}

.navbar-link-blue {
  background: #4688F0;
  color: #ffffff;
}

.navbar-link-blue:hover {
  background: #5c96f3;
}

.navbar-link-purple {
  background-color:#7B4CDF;
  color: #ffffff;
}

.list-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-product {
  border: 1px solid #0000001A;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0px #0000001A;
  height: 534px;
  margin: 20px 0px 10px 15px;
  width: 359px;
}
.card-product-img {
  height: 357px;
}

.card-input {
  height: 30px;
  text-align: center;
  width: 30px;
}

.card-button {
  background-color: #036B52;
  border: 0;
  color: #ffffff;
  height: 35px;
  width: 35px;
}
.card-button-left {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.card-button-right {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.card-product-footer {
  align-items: center;
  background-color: #EAF1EF;
  display: flex;
  flex-direction: column;
  height: 155px;
}

.btn-cart {
  position: fixed;
  right: 5px;
  top: 10%;
  z-index: 999;
}

.bt-cart-img {
  cursor: pointer;
  height: 100px;
  width: 100px;
}

.btn-invisivel {
  background-color: rgba(253, 253, 253, 0.1);
  border: white;
  color: rgba(253, 253, 253, 0.1);
  font-size: 0px;
}

.btn-cart-total {
  background-color: #036b52;
  border-radius: 100%;
  border: 0;
  color: white;
  font-weight: 800;
  padding: 18px 15px 18px 15px;
  position: fixed;
  right: 20px;
  top: 11%;
  z-index: 999;
  cursor: pointer;
}

.btn-cart-desabled {
  background-color: #eeedee;
  border-radius: 100%;
  border: 0;
  color: #ccc9cd;
  font-weight: 800;
  padding: 18px 15px 18px 15px;
  position: fixed;
  right: 20px;
  top: 11%;
  z-index: 999;
}