.navbar {
  background-color: rgba(3, 107, 82, 1);
  display: flex;
  justify-content: space-between;
}

.nav-display-flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.navbar-link {
  align-items: center;
  border-radius: 0px;
  border: 0px;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 0px;
  padding: 0px 20px;
  text-align: center;
  text-decoration: none;
}

.navbar-link-none {
  text-decoration: none;
}

.navbar-link-green {
  background-color: rgba(3, 107, 82, 1);
  color: #ffffff;
}

.navbar-link-green:hover {
  background-color: rgba(47, 193, 140, 1);
}

.navbar-link-blue {
  background: rgba(5, 108, 249, 1);
  color: #ffffff;
}

.navbar-link-active {
  background-color: rgba(47, 193, 140, 1);
  color: #ffffff;
}

.navbar-link-blue:hover {
  background: #5c96f3;
}

.navbar-link-purple {
  background-color: rgba(66, 25, 129, 1);
  color: #ffffff;
}

.list-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card-product {
  border-radius: 10px;
  border: 1px solid #0000001A;
  box-shadow: 0px 10px 10px 0px #0000001A;
  height: 534px;
  margin: 20px 0px 10px 15px;
  width: 359px;
}
.card-product-img {
  max-height: 357px;
}

.card-input {
  height: 30px;
  text-align: center;
  width: 30px;
}

.card-button {
  background-color: #036B52;
  border: 0;
  color: #ffffff;
  height: 35px;
  width: 35px;
}

.card-price {
  background: rgba( 242, 255, 252, 0.75 );
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 8px;
  padding: 10px 15px;
  position: absolute;

  
}

.card-button-left {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.card-button-right {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.card-product-footer {
  align-items: center;
  background-color: #EAF1EF;
  display: flex;
  flex-direction: column;
  height: 155px;
}

.btn-cart {
  position: fixed;
  right: 2px;
  top: 10%;
  z-index: 997;
}

.bt-cart-img {
  cursor: pointer;
  height: 120px;
  width: 120px;
}

.btn-invisivel {
  background-color: rgba(253, 253, 253, 0.1);
  border: white;
  color: rgba(253, 253, 253, 0.1);
  font-size: 0px;
}

.btn-cart-total {
  background-color: #036b52;
  border-radius: 100%;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: small;
  font-weight: 700;
  height: 60px;
  position: fixed;
  right: 27px;
  top: 11%;
  width: 60px;
  z-index: 998;
}

.btn-cart-desabled {
  background-color: #eeedee;
  border-radius: 100%;
  border: 0;
  color: #ccc9cd;
  font-size: small;
  height: 60px;
  position: fixed;
  right: 27px;
  top: 11%;
  width: 60px;
  z-index: 998;
}

.format-total {
  color: #ccc9cd;
  font-size: x-small;
  position: fixed;
  right: 50px;
  top: 12.5%;
  z-index: 999;
}

.table-container {
  table-layout: auto;
  background: white;
}

.table-head {
  background: white;
}

.table-body {
  text-align: center;
}

.t-item {
  background: #57bf71;
}

.t-desc {
  background: #F2FFFC;
}

.t-quantity {
  background: #036b52;
}

.t-price-un {
  background: #421981;
}

.t-subtotal {
  background: #056CF9;
}
