.App {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.login-page, .login-page form, .login-page form label {
  display: flex;
  flex-direction: column;
}

.register-page, .register-page form, .register-page form label {
  display: flex;
  flex-direction: column;
}

.login-page, .register-page form {
  gap: 1rem;
}
