.navbar {
  background-color: rgba(3, 107, 82, 1);
  display: flex;
  justify-content: space-between;
}

.nav-display-flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.navbar-link {
  align-items: center;
  border-radius: 0px;
  border: 0px;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 0px;
  padding: 0px 20px;
  text-align: center;
  text-decoration: none;
}

.navbar-link-none {
  text-decoration: none;
}

.navbar-link-green {
  background-color: rgba(3, 107, 82, 1);
  color: #ffffff;
}

.navbar-link-green:hover {
  background-color: rgba(47, 193, 140, 1);
}

.navbar-link-blue {
  background: rgba(5, 108, 249, 1);
  color: #ffffff;
}

.navbar-link-active {
  background-color: rgba(47, 193, 140, 1);
  color: #ffffff;
}

.navbar-link-blue:hover {
  background: #5c96f3;
}

.navbar-link-purple {
  background-color: rgba(66, 25, 129, 1);
  color: #ffffff;
}

.list-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card-product {
  border-radius: 10px;
  border: 1px solid #0000001A;
  box-shadow: 0px 10px 10px 0px #0000001A;
  margin: 20px 0px 10px 15px;
  flex-basis: 20%;
}

.card-product-img {
  max-height: 357px;
}

.card-input {
  height: 37px;
  text-align: center;
  width: 30px;
  display: initial;
}

.card-button {
  background-color: #036B52;
  border: 0;
  color: #ffffff;
  height: 35px;
  width: 35px;
}

.card-price {
  background: rgba( 242, 255, 252, 0.75 );
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 8px;
  padding: 10px 15px;
  position: absolute;
}

.card-button-left {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.card-button-right {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.card-product-footer {
  align-items: center;
  background-color: #EAF1EF;
  display: flex;
  flex-direction: column;
  height: 155px;
}

.btn-cart {
  position: fixed;
  right: 2px;
  top: 10%;
  z-index: 997;
}

.bt-cart-img {
  cursor: pointer;
  height: 120px;
  width: 120px;
}

.btn-invisivel {
  background-color: rgba(253, 253, 253, 0.1);
  border: white;
  color: rgba(253, 253, 253, 0.1);
  font-size: 0px;
}

.btn-cart-total {
  background-color: #036b52;
  border-radius: 100%;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: small;
  font-weight: 700;
  height: 60px;
  position: fixed;
  right: 20px;
  top: 11%;
  width: 60px;
  z-index: 998;
}

.btn-cart-desabled {
  background-color: #eeedee;
  border-radius: 100%;
  border: 0;
  color: #ccc9cd;
  font-size: small;
  height: 60px;
  position: fixed;
  right: 20px;
  top: 11%;
  width: 60px;
  z-index: 998;
}

.format-total {
  color: #ccc9cd;
  font-size: x-small;
  position: fixed;
  right: 50px;
  top: 12.5%;
  z-index: 999;
}

.table-container {
  table-layout: auto;
  background: white;
  width: 95%;
}

.table-head {
  background: white;
  border: 10px solid white;
  font-size: 0.8em;
}

.table-body {
  text-align: center;
}

.table-tr {
  border-bottom: 5px solid white;
}

.pedido {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-pedido {
  border: 1px solid rgba(177, 194, 190, 1);
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-table-pedidos {
  width: 90%;
  font-weight: 700;
}

.table-pedido-endereco {
  border: 1px solid rgba(177, 194, 190, 1);
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 0.8em;
}

.table-detalhe-title {
  display: flex;
  flex-direction: column;
}

.t-item {
  background: #57bf71;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.t-desc {
  background: #F2FFFC;
  width: 55%;
  text-align: left;

}

.t-quantity {
  background: #036b52;
  color: white;
}

.t-price-un {
  background: #421981;
  color: white;
}

.t-subtotal {
  background: #056CF9;
  color: white;
}

.table-btn {
  background: #57bf71;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  width: 100%;
  padding: 5px;
}

.total-value {
  color: white;
  font-size: 1.5em;
  font-weight: 600;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  width: 95%;
  margin-top: 20px;
  margin-bottom: 14px;
}

.total-value-p {
  background: rgba(3, 107, 82, 1);
  border-radius: 3px;
  padding: 5px;
}

.head-pedido {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.content-card-pedidos {
  display: flex;
  margin-top: 20px;
}

.content-card-pedido-item {
  background: #EAF1EF;
  border: 1px solid #B1C2BE;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 40%;
  margin-left: 20px;
  margin-bottom: 25px;
}

.pedido-item-data {
  display: flex;
  justify-content: space-between;
}

.pedido-item-data-num {
  background-color: white;
  margin: 2px;
  flex-basis: 20%;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100px;
  font-weight: 600;
}

.pedido-item-data-value {
  flex-basis: 30%;

}

.pedido-data-value-item {
  background-color: white;
  margin: 5px;
  padding: 10px;
  text-align: center;
  font-weight: 600;
}

.pedido-data-value-status {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
}

.bg-yellow {
  background: rgba(204, 184, 0, 0.75)
}

.bg-green-ligth {
  background: rgba(102, 204, 0, 0.75);
}

.bg-green {
  background: rgba(0, 204, 155, 0.75);
}

@media (max-width: 1200px) {
  .card-product {
    flex-basis: 26%;
  }
}

@media (max-width: 840px) {
  .card-product {
    flex-basis: 40%;
  }
}

@media (max-width: 600px) {
  .card-product {
    flex-basis: 80%;
  }
}