* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.signup-container {
  align-items: center;
  animation: fade 0.2s linear;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin: auto;
  padding: 30px;
  position: relative;
  width: 250px;
  height: 300px;
}

.signup-container label {
  display: flex;
  flex-direction: column;
}

.input-element {
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
}

.sign-btn {
  background: #036b52;
  border: transparent;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  transition: 0.2s;
}

.signup-container > button:hover {
  filter: brightness(0.9);
}

.signup-container > span {
  bottom: 0;
  color: red;
  padding: 10px;
  position: absolute;
}

.password-container {
  height: 50px;
  position: relative;
}

.passreveal {
  cursor: pointer;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 40%;
}

.passreveal:hover {
  filter: brightness(0.2);
}

.tp {
  font-weight: bold;
  padding: 10px;
  margin-right: 15px;
  text-align: right;
}

table {
  border-collapse: collapse;
  width: 100vw;
}

table, th, td {
  border-bottom: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}

.admin-navbar {
  align-items: center;
  background-color: #036b52;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.page-title {
  background-color: #2fc18c;
  font-weight: 600;
  padding: 25px;
}

.admin {
  background-color: #421981;
  color: #fff;
  font-weight: 400;
}

.logout-btn {
  background-color: #056cf9;
  border: transparent;
  color: #fff;
  cursor: pointer;
  height: 50px;
  padding: 10px 40px;
}

.logout-btn:hover {
  filter: brightness(0.85);
}

.admin-form fieldset {
  align-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

select {
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
}

table {
  margin: auto;
  width: 500px;
}

table tr th {
  font-size: 17px;
  padding: 10px;
}

table tr td {
  padding: 10px;
  text-align: center;
}

.delete-btn {
  background-color: #fff;
  border: transparent;
  cursor: pointer;
}

.delete-btn em {
  color: #a0a0a0;
  font-size: 18px;
  transition: 0.2s;
}

.delete-btn em:hover {
  filter: brightness(0.5);
}

.hide-message {
  opacity: 0;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* LOGIN FORM */

.login-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.login-form input,
.login-form button {
  padding: 4px 8px;
}

.checkout-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 95vw;
}

.checkoutBtn {
  background-color: #4CAF50;
  border: none;
  color: white;
  display: inline-block;
  font-size: 16px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}
/* NAV BAR */

.navbar-container {
  background-color: #036B52;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  color: #fafafa;
}

.navbar-container .navbar-left button, .navbar-container .navbar-right button {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.navbar-container .navbar-left button, .navbar-container .navbar-right button, .navbar-container .navbar-right span  {
  justify-content: center;
  padding: 16px 32px;
}

.navbar-container .navbar-left :nth-child(2) {
  background-color: #2FC18C;
  color: #001813;
}

.navbar-container .navbar-right :nth-child(1) {
  background-color: #421981;
}

.navbar-container .navbar-right :nth-child(2) {
  background-color: #056CF9;
  color: #fafafa;
}
.navbar-container .navbar-left button {
  color: #fafafa;
  text-transform: uppercase;
}

.navbar-container .navbar-right span {
  color: #fafafa;
  font-weight: 700;
}

/* CUSTOMER ORDERS */

.order-cards {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin: 0 auto;
  margin-top: 32px;
  max-width: 60%;
}

.order-card {
  background-color: #eaf1ef;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: flex;
  gap: 8px;
  text-align: center;
}

.order-card-left {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  height: 100%;
  padding: 8px 16px;
}

.order-card-left div p {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.order-card-left div p:nth-child(2) {
  font-weight: 500;
}

.order-card:hover {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}

.order-card-right {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-weight: 700;
  gap: 8px;
  justify-content: space-between;
  padding: 8px;
  text-transform: uppercase;
  width: 100%;
}

.order-card-left-half {
  align-items: center;
  border-radius: 4px;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 8px 16px;
  width: 100%;
}

.order-card-right-half {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  width: 100%;
}

.order-card-right-half .order-half-content {
  align-items: center;
  background-color: #f1fbf9;
  border-radius: 4px;
  padding: 8px 8px;
}

.pending {
  background-color: #d9ca40;
}

.preparing {
  background-color: #8cd940;
}

.done {
  background-color: #3fd9b4;
}
