.productStatusContainer {
  background-color: #eaf1ef;
  border: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  font-size: 2rem;
  justify-content: space-between;
  margin: 3rem ;
  width: 100%;

  .productOrderLarge {
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;
    padding: 4.2rem;
    width: 25%;
  }

  .productOrder {
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;
    padding: 3rem;
    width: 25%;

    p {
      font-size: 1.7rem;
    }
  }

  .productDataContainer {
    display: flex;
    flex-direction: column;
    width: 73%;

    .productAddress {
      font-size: 1.7rem;
    }

    .productData {
      display: flex;

      .orangeOrder, .greenOrder, .blueOrder, .blackBlueOrder {
        display: flex;
        align-items: center;
        font-weight: bold;
        justify-content: center;
        margin: 0.5rem 0;
        padding: 4.2rem;
        width: 50%;
      }

      .orangeOrder {
        background-color: #d4c63c;
      }

      .greenOrder {
        background-color: #8cd940;
      }

      .blackBlueOrder {
        background-color: #3faad4f6;
        font-size: 1.6rem;
      }

      .blueOrder {
        background-color: #40d9b4;
      }
    
      .productPrice {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 0.5rem;
        gap: 0.5rem;
        width: 50%;
    
        p {
          background-color: #f1fbf9;
          font-weight: bold;
          padding: 1.3rem;
          text-align: center;
          width: 100%;
        }
      }
    } 
  }
}
